/* Im trying to remove the body & the joysticks making a simplistic skin */

.controller.ds4 {
    background: url();
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4 .touchpad.pressed {
    background: url() no-repeat center;
}

.ds4 .stick {
    position: absolute;
    background: url();
    height: 94px;
    width: 94px;
}

/* working intended till here. start, select, bumpers and triggers in the off state are in the body image (.controller.ds4) */

.ds4 .dpad {
    position: absolute;
    width: 125px;
    height: 126px;
    top: 181px;
    left: 30%;
}

/* all the face buttons */

.ds4 .face.up {
    left: 30%;
    top: 0;
    background-position: -37px 0px;
}

.ds4 .face.down {
    left: 30%;
    bottom: 0;
    background-position: 0px 0;
}

.ds4 .face.left {
    top: 45px;
    left: 30%;
    background-position: 104px 0;
}

.ds4 .face.right {
    top: 45px;
    right: 30%;
    background-position: 52px 0;
}
