.controller.ds4 {
    background: url();
}

.ds4 .triggers {
    width: 400px;
    height: 90px;
    position: absolute;
    left: 109px;
    top: 40px;
}

.ds4 .bumpers {
    position: absolute;
    width: 400px;
    height: 23px;
    left: 109px;
    top: 134px;
}

.ds4 .arrows {
    position: absolute;
    width: 85px;
    height: 46px;
    top: 199px;
    left: 262px;
}

.ds4 .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 159px;
    left: 370px;
}

.ds4 .sticks {
    position: absolute;
    width: 270px;
    height: 105px;
    top: 338px;
    left: 175px;
}

.ds4 .face.right {
    top: 45px;
    right: 0px;
    background-position: 52px 0;
}
